@import url('https://fonts.googleapis.com/css2?family=Grenze:wght@200;300;500&family=Sansita+Swashed:wght@400;600;700&display=swap');
:root {
    /* Colores */
    --color-lightbeig: rgb(246, 241, 206);
    --color-beige: rgb(230, 210, 169);
    --color-light-brown: rgb(137, 105, 73);
    --color-brown: rgb(119, 80, 54);
    --color-beigerbga: rgba(230, 210, 169, 0.7);
    --color-brownrgba: rgba(119, 80, 54, 0.6);
    /* Fuentes */
    --font-titles: 'Sansita Swashed', cursive;
    --font-text: 'Grenze', serif;
}